<h1>Show User Statistics</h1>
<ul>

</ul>

<div class="row">

	<% User.all.each do |user| %>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img src="http://graph.facebook.com/<%= user.email %>/picture?type=normal" alt="...">
				<%= link_to user.name, :controller => 'statistics', :action => 'user', :id => user.id, :class =>"thumbnail" %>
			</a>
		</div>
	<% end %>



	<div class="col-xs-6 col-md-3">

	</div>

	<div class="col-xs-6 col-md-3">
		<a href="#" class="thumbnail">
			<img data-src="holder.js/100%x180" alt="...">
		</a>
	</div>

	<div class="col-xs-6 col-md-3">
		<a href="#" class="thumbnail">
			<img data-src="holder.js/100%x180" alt="...">
		</a>
	</div>

</div>
