<h1>Show User Statistics</h1>


<div class="row">

	<% User.all.each do |user| %>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img src="http://graph.facebook.com/<%= user.email %>/picture?type=small" alt="...">
				<%= link_to user.name, :controller => 'statistics', :action => 'user', :id => user.id %>
			</a>
		</div>
	<% end %>

</div>
