<div class="row">

	<div class="col-md-9">



<%= link_to "see all games", :controller => "activity", :action => "all" %>



</div>

<div class="col-md-3">

	<div class="panel panel-default">
		<div class="panel-heading">Championships</div>
		<div class="panel-body">
			<% @championships.each do |cs| %>
			<p>
				<%= link_to cs.name, controller: "activity", action: "all", id: cs.id %>
			</p>
			<% end %>
		</div>
	</div>

</div>
</div>
