
<h1>Ranking</h1>

<table>
	<tr>
		<td>Ranking</td>
		<td>Jugador</td>
		<td>Valoración</td>
		<td>Jugados</td>
		<td>Ganados</td>
		<td>Perdidos</td>
		<td>P. Favor</td>
		<td>P. Contra</td>
		<td>Dif</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Jose</td>
		<td>100%</td>
		<td>4</td>
		<td>4</td>
		<td>0</td>
		<td>62</td>
		<td>45</td>
		<td>+17</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Sergio</td>
		<td>100%</td>
		<td>3</td>
		<td>3</td>
		<td>0</td>
		<td>45</td>
		<td>30</td>
		<td>+15</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Ion</td>
		<td>57%</td>
		<td>7</td>
		<td>4</td>
		<td>3</td>
		<td>92</td>
		<td>90</td>
		<td>+2</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Mikel</td>
		<td>42%</td>
		<td>7</td>
		<td>3</td>
		<td>4</td>
		<td>90</td>
		<td>92</td>
		<td>-2</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Itxas</td>
		<td>0%</td>
		<td>3</td>
		<td>0</td>
		<td>3</td>
		<td>30</td>
		<td>45</td>
		<td>-15</td>
	</tr>

	<tr>
		<td>6</td>
		<td>Aketza</td>
		<td>0%</td>
		<td>4</td>
		<td>0</td>
		<td>4</td>
		<td>45</td>
		<td>62</td>
		<td>-17</td>
	</tr>

</table>

<h1>Ultimos partidos</h1>

<h2>2012/01/10</h2>

<table border='1'>
	<tr>
		<td>Jose</td>
		<td rowspan='2'>17 - 16</td>
		<td>Aketza</td>
	</tr>
	<tr>
		<td>Ion</td>
		<td>Mikel</td>
	</tr>
</table>
<table border='1'>
	<tr>
		<td>Jose</td>
		<td rowspan='2'>15 - 13</td>
		<td>Aketza</td>
	</tr>
	<tr>
		<td>Ion</td>
		<td>Mikel</td>
	</tr>
</table>
<table border='1'>
	<tr>
		<td>Jose</td>
		<td rowspan='2'>15 - 10</td>
		<td>Aketza</td>
	</tr>
	<tr>
		<td>Ion</td>
		<td>Mikel</td>
	</tr>
</table>
<table border='1'>
	<tr>
		<td>Jose</td>
		<td rowspan='2'>15 - 6</td>
		<td>Aketza</td>
	</tr>
	<tr>
		<td>Ion</td>
		<td>Mikel</td>
	</tr>
</table>


<h2>2012/01/03</h2>

<table border='1'>
	<tr>
		<td>Itxas</td>
		<td rowspan='2'>10 - 15</td>
		<td>Sergio</td>
	</tr>
	<tr>
		<td>Ion</td>
		<td>Mikel</td>
	</tr>
</table>

<table border='1'>
	<tr>
		<td>Itxas</td>
		<td rowspan='2'>10 - 15</td>
		<td>Sergio</td>
	</tr>
	<tr>
		<td>Ion</td>
		<td>Mikel</td>
	</tr>
</table>

<table border='1'>
	<tr>
		<td>Itxas</td>
		<td rowspan='2'>10 - 15</td>
		<td>Sergio</td>
	</tr>
	<tr>
		<td>Ion</td>
		<td>Mikel</td>
	</tr>
</table>