body {
	background:#89d0e9 url(/assets/bg-lt-blue.png);
	font-family: "Ropa Sans", Verdana, "MS Trebuchet", sans-serif;
}

#header {
	margin: 20px 50px 0px 50px;
	height: 50px;
	color: white;
	font: bold;
	font-size: 48pt;
	text-align: right;
}

#nav {
	border: #000 1px solid;
	margin: 0px 25px 0px 25px;
	height: 40px;
	background: #1D3836 url(/assets/navbar-texture.png) repeat-x;	
}

#menu {
	margin: 10px 10px 10px 10px;
}

#menu a {
	color: white;
	font: bold;
	font-size: 18pt;
	font-decoration: none;
}

#page {
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	border-bottom: #000 1px solid;

	background-color: white;
	margin: 0px 50px 0px 50px;
	padding: 20px 50px 20px 50px;
}

#footer {
	text-align: center;
}

