body {
	background: #89d0e9;
	font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
	font-size: 10pt;
}

#header {
	margin: 10px 30px 0px 30px;
	height: 40px;
	color: white;
	font: bold;
	font-size: 32pt;
	text-align: right;
}

#nav {
	color: white;
	border: #000 1px solid;
	margin: 0px 25px 0px 25px;
	height: 30px;
	background: #f0e03f;
}

#menu {
	margin: 10px 10px 10px 10px;
	a {
		color: white;
		font: bold;
		font-size: 14pt;
		font-decoration: none;
	}
}

#page {
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	border-bottom: #000 1px solid;
	background-color: white;
	margin: 0px 50px 0px 50px;
	padding: 20px 50px 20px 50px;
}

#footer {
	text-align: center;
}



body
{
  font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
  font-size: 100%;
  margin: 10px;
  color: #333;
  background-color: #cecece;
}

h1
{
  margin: 0;
  font-weight: normal;
}

time.icon
{
  font-size: 0.7em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}
