<!DOCTYPE html>
<html>
<head>
  <title>Frontenis</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		frontenis pikutara
	</div>

	<div id="nav">
		<div id="menu">
			<a href="#">Activity</a> | 
			<a href="#">Ranking</a> | 
			<a href="#">Users</a>
		</div>
	</div>

	<div id="page">
		<%= yield %>
	</div>

	<div id="footer">		
		<p>frontenis 2012 - Pikutara koadrila</p>
	</div>

</body>
</html>
